extends layout

block content
  .gameHUD
    .gameTitle 
      h1 TheQuest
      a(href="javascript: void(0)").soundToggle Toggle sound off
    .wrapper
      .menu
        a(href="/users/logout") logout
        .timeLeft.menuItem
        .victories.menuItem
          span.victoriesCount 0
      .gameWorld
        .winLabel.endLabel You win
        .looseLabel.endLabel You loose :|

  


  
  script.
    user = !{JSON.stringify(user)}
  script(src="/game-index.js")