extends layout

block content
  .wrapper
    .menu
      a(href="/users/logout") logout
      .timeLeft.menuItem
      .victories.menuItem
        | Victories:
        span.victoriesCount 0
    .gameWorld
      .winLabel.endLabel You win
      .looseLabel.endLabel You loose :|
  
  script.
    user = !{JSON.stringify(user)}
  script(src="/game-index.js")