extends layout

block content
  .title TheQuest
  .menu
    a(href="/users/logout") logout
    .timeLeft.menuItem
    .victories.menuItem
      | Victories:
      span.victoriesCount 0
  .gameWorld

  
  script.
    user = !{JSON.stringify(user)}
  script(src="/game-index.js")