extends layout

block content
  h1= title
  div.nav
    a(href='/game') game | 
    a(href='/users/register') register | 
    a(href='/users/login') login 
    br
    br
  span.visitorsTitle Visitors:
  span.visitorsCount= 0
  script.
    var socket = io.connect();
    socket.on('visitorsOnline', function (data) {
      $(".visitorsCount").html(data);
    });