extends layout

block content
  h1= title
  span.visitorsTitle Visitors:
  span.visitorsCount= 0
  script.
    var socket = io.connect();
    socket.on('visitorsOnline', function (data) {
      $(".visitorsCount").html(data);
    });