doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/underscore-min.js')
    script(src='javascripts/backbone-min.js')
  body
    block content
