doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/underscore-min.js')
    script(src='js/backbone-min.js')
    script(src='js/jquery.ba-resize.min.js')
    script(src='js/jquery.mousewheel.min.js')
  body
    block content