extends ../layout

block content
  h1 Login
  .error #{error}
  form(method="POST")
    input(type="text", name="username", placeholder="username")
    input(type="password", name="password", placeholder="password")
    input.btn(type="submit", value="login")
  .orRegister
    a.btn(href="/users/register") Register