extends ../layout

block content
  h1 Register
  .error #{error}
  form(method="POST")
    input(type="text", name="username", placeholder="username")
    input(type="password", name="password", placeholder="password")
    input(type="password", name="password2", placeholder="password again")
    input.btn(type="submit", value="register")
  .orLogin
    a.btn(href="/users/login") Login