body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.name {
  position: absolute;
  top: 36px;
  left: 3px;
}

.gameWorld {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}

.player {
  width: 32px;
  height: 33px;
  position: absolute;
  border: 1px solid green;
  background: url('/pacman.png') top left no-repeat;
}

.coin {
  display: none;
  width: 32px;
  height: 32px;
  background: url('/coin.png') top left no-repeat;
  position: absolute;
  left: 25px;
}

.endLabel {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  line-height: 600px;
  color: white;
  background-color: gray;
  opacity: 0.5;
  position: absolute;
  z-index: 100;
}

.menu {
  margin: 0 auto;
  width: 800px;
}

.menuItem {
  float:left;
  width: 250px;
}

/* avatar selection in login */
.avatar{}
.avatar label{
  display: inline-block;
  margin: 5px;
  width: 50px;
  padding-top: 50px;
  background-position: left top;
  background-size: 100% auto;
  text-align: center;
}
.avatar input{}
#label-1{
  background-image: url('../chicko.svg');
}
#label-2{
  background-image: url('../franky.svg');
}