body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.name {
  position: absolute;
  top: 36px;
  left: 3px;
}

.gameWorld {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}

.player {
  width: 32px;
  height: 33px;
  position: absolute;
  border: 1px solid green;
}

.coin {
  display: none;
  width: 32px;
  height: 32px;
  background: url('/coin.png') top left no-repeat;
  position: absolute;
  left: 25px;
}

.endLabel {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  line-height: 600px;
  color: white;
  background-color: gray;
  opacity: 0.5;
  position: absolute;
  z-index: 100;
}

.menu {
  margin: 0 auto;
  width: 800px;
}

.menuItem {
  float:left;
  width: 250px;
}

.player #avatar {
  width: 32px;
  height: 32px;
}

.dialog {
  background-color: #FFF;
  border: 1 solid #AAA;
  border-radius: 25px;
  width: 400px;
}

.chooseAvatar.dialog ul {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
}

.chooseAvatar.dialog ul li {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.chooseAvatar.dialog .title {
  text-align: center;
}