body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.gameWorld {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
  top: -160px;
  left: 0;
}

.player {
  width: 32px;
  height: 32px;
  position: absolute;
  border: 1px solid green;
}

.player.hasTreasure {
  background-color: red;
}
