body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.name {
  position: absolute;
  top: 36px;
  left: 3px;
}

.gameWorld {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}

.player {
  width: 32px;
  height: 33px;
  position: absolute;
  border: 1px solid green;
  background: url('/pacman.png') top left no-repeat;
  display:block;
}

.coin {
  display:none;
  width: 32px;
  height: 32px;
  background: url('/coin.png') top left no-repeat;
  position: absolute;
  left: 25px;
}